.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media screen and (max-width: 799px) {
  .profile__image {
    margin-bottom: 26px;
  }
}
